body {
	background: #000;
}

.backbtn {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: #FA2D73;
}

.videocarousel {
	padding: 0;
	margin: 0;
	margin-top: -80px;
}

.video {
  height: 315px;
  width: 40%;
}

.danceleft {
  width: 100px;
  margin-right: 50px;
  padding-bottom: 85px;
}

.danceright {
  width: 120px;
  margin-left: 50px;
  padding-bottom: 135px;
}

.pinkarea {
	background: #FA2D73;
	margin-top: -143px;
	padding-top: 30px;
	padding-bottom: 330px;
}

.btn-white {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #fff;
	color: #FA2D73;
	
}

.btn-pink {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #FA2D73;
	color: #fff;
}

footer {
	background: #FA2D73;
	padding: 10px 10px 10px 10px;
}
