body {
	background: #FA2D73;
}

.welcome {
	margin-top: 80px;
	margin-left: -450px;
	margin-bottom: -50px;
	color: #FA2D73;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
}

.contentbox {
	margin-top: 30px;
	margin-bottom: 30px;
}

.choose {
	font-size: 35px;
	margin-bottom: 30px;
}

.moodindicator {

	font-size: 35px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #A5A4A4;
	border-radius: 5px;
	border-color: #6E6E6E;
	border-width: 5px;
	border-style: solid;
	color: #fff;
	text-shadow: 2px 2px #ff0000;
}


.happy {
	background-image: url("happy.png");

}

.sad {
	background-image: url("sad.png");
}

.angry {
	background-image: url("angry.png");
}

.scared {
	background-image: url("scared.png");
}

.worried {
	background-image: url("worried.png");
}

.tired {
	background-image: url("tired.png");
}

.mainlogoarea {
	margin-top: -70px;
	padding-bottom: 0px;
}

.danceleft {
  width: 250px;
  margin-bottom: 115px;
}

.danceright {
  width: 300px;
	margin-bottom: 245px;
}

.pinkarea {
	background: #FA2D73;
	padding-top: 30px;
	padding-bottom: 215px;
	margin-top: -265px;
}

.btn-white {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #fff;
	color: #FA2D73;
}

.btn-pink {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #FA2D73;
	color: #fff;
}

footer {
	background: #FA2D73;
	padding: 10px 10px 10px 10px;
}

@media (max-width: 1196px) {
    .logo {
      width: 300px;
    }
    .danceleft {
      width: 200px;
    }
    .danceright {
      width: 240px;
    }
    .welcome {
	    margin-top: 80px;
	    margin-bottom: 0px;
	    color: #FA2D73;
	    font-family: 'Lato', sans-serif;
	    font-size: 30px;
    }
  }

@media (max-width: 874px) {
    .logo {
      width: 300px;
    }
    .danceleft {
      width: 100px;
    }
    .danceright {
      width: 120px;
    }
  }
  
@media (max-width: 560px) {
  .danceleft {
    display: none;
  }
  .danceright {
    display:none;
  }
}